<mat-toolbar color="primary">
    <button mat-button (click)="addPoll()" routerLink="/matpollform" title="Create new poll">
        <mat-icon>add</mat-icon>
    </button>
      <span class="application-name" (click)="goToRoot()">Pollster</span>
      
      <mat-menu #appMenu="matMenu">

        <button mat-menu-item (click)="manage()" aria-label="Manage polls">
            <mat-icon>favorite_border</mat-icon>
            <span>My polls</span>
          </button>

    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Menu">
    <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
