<div class="my-5">
    <div class="card mx-auto" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title" style="text-center">Poll survey</h5>
          <p class="card-text">Do you prefer to rest during the weekends?</p>
        </div>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action-success">Yes</a> 
          <a href="#" class="list-group-item list-group-item-action-success">No</a>
          <a href="#" class="list-group-item list-group-item-action-success">Sometimes</a>
          <a href="#" class="list-group-item list-group-item-action-success">Rarely</a>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Reset</a>
        </div>
      </div>
</div>

