<div class="container my-7 p-4">
    <div class="display-4 text-center text-muted     rounded border border-light my -2"> CREATE NEW POLL</div>

    <div class="card mx-auto my-3" style="width: 50%">
        <div class="card-body">

          <form action="" [formGroup]="questionForm">
                <div class="form-group">
                  <label for="questionField">Question</label>
                  <input formControlName="question" type="text" class="form-control" id="questionField" placeholder="Question here...">
                </div>
          </form>


          <form action="" [formGroup]="optionsForm">
            <div options class="w-50">
              <div class="input-group mb-3" *ngFor="let item of options; let index = index; ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Option  </span>
                  <input formControlName="{{item.option_id}}" type="text" (keyup.enter)="newOptionbtn()"  class="form-control w-25" aria-label="Default">
                  <button (click)="removeOption(index, item.option_id)" type="button" title="Remove Option" class=" btn btn-danger mx-3 remove">
                    &times;
                </button>
            
                </div>

            </div>
          </form>
 
          <mat-card class="option-card" *ngFor="let pollItem of pollModel.pollItems; let i = index">
            <mat-form-field class="full-width"> 
              <input matInput placeholder="Option {{ i + 1 }}">
            </mat-form-field>
            <mat-icon class="close" (click)="remove(pollItem)" style="cursor: pointer;">close</mat-icon>
          </mat-card>

          <div style="padding-top: 30px;">
            <button mat-raised-button (click)="addPollItem()" aria-label="Add option">Add option</button>
            <button mat-raised-button color="primary" [disabled]="!saveActive()" class="save-btn" (click)="save()" aria-label="Save">Save</button>
          </div>

          <div class="text-right ">
              <span class="text-muted small">new option</span>
              <div>
              <button (click)="newOptionbtn()" type="button" class="btn btn-light  mx-3 text-muted bmd-btn-fab">
                +
              </button>
            </div>
          </div>
        
          <form action="" [formGroup]="emailForm">
            <div>
              E-mail(s): <input type="email" formControlName="email" name="emailaddress" multiple>
          </div>
        </form>

      

        <div class="card-body">
          <button (click)="onSubmit()" type="submit" class="btn btn-raised btn-info btn-block">SEND MAIL</button>
        </div>

        </div>
      </div>

    
</div>

