.poll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 16px;

    h2 {
        margin-bottom: 0;
    }

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
       
        & > * {
            padding: 10px;
        }
    }
}

.title {
    font-family: 'Product Sans';
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}